<% provide(:title, "Help") %>
   <!-- provideはapplication.erbにあるyieldに送信 この場合Helpを送信 -->
<h1> Help </h1>
<p>
Get help on the Ruby on Rails tutorial at the
<a href = "https://railstutorial.jp/help">Hidden gems page</a>
To get help on this sample app, see the
<a href="https://railstutorial.jp/#ebook"><em>Hidden gems</em>
book</a>
</p>

